body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.nav {
  justify-content: space-around;
  margin-left: 500px;
  font-size: larger;
  background-blend-mode: color-burn;
  background-color: rgb(152, 240, 152);
  font-style: none;
  text-decoration: none;
}
